.about {
  margin: 85px 0 100px;

  &__inner {
    @include flex-between-center-gap(80);
    max-width: 1125px;
    margin: 0 auto;
  }

  &__content {
    max-width: 470px;
  }

  &__list {
    @include flex-column(23);
    margin-top: 24px;
    line-height: 1.3;
    font-size: 26px;
    letter-spacing: -0.26px;
  }
}